.testimonials {
    margin-bottom: 100px;
}

.div-style {
    height: 80vh;
    background-image: url('../../../images/Inventory/testimonial.jpeg');
    background-size: cover;
}

.carousel-style {
    height: 80vh;
}

.img-style-feedback {
    /* margin: 0 auto; */
    position: absolute;
    top: 20%;
    left: 46%;
    border-radius: 50%;
}