.testimonials {
    margin-bottom: 100px;
}

.div-style {
    height: 70vh;
    background-image: url('../../../images/bg-img/istockphoto-1161683700-612x612.jpg');
    background-size: cover;
}

.carousel-style {
    height: 70vh;

}

.img-style-feedback {
    /* margin: 0 auto; */
    position: absolute;
    top: 20%;
    left: 45%;
    border-radius: 50%;
}