.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 100px;
    color: black;
    /* margin: 10px; */
}

.link-style {
    text-decoration: none;
    color: black;
}

.btn-style {
    margin-top: 10%;
}

.iconStyles {
    color: "#272121";
    font-size: 1.2em;
    
}